body{
    background-color: gray;
}
.container{
    width: 100%;
    height: 100vh;
    display: inline-flex;
}

.text{
    margin: 0.5rem;
    padding: 1rem;
    width: 100%;
    border: none;
    border-radius: 13px;
}

iframe{
    margin: 0.5rem;
    padding: 0.1rem;
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 13px;
}